
div {
	
	border: 1px red solid;
}


 li {
 	display: inline-block;
 	list-style: none;
	width: 33%;
	text-align: center;
		
}
 li:first-child {
 	text-align: left;
 }
 li:last-child {
 	text-align: right;
 }